.empty-basket img{
    width: 80%;
}

.cart-footer {
    position: absolute;
    bottom: 2rem;
    width: 30%;
}

.subtotal-text {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    /* margin-top: 13rem; */
}

.cart-button {
    margin: 2.5rem 0;
    font-size: 2rem;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
    color: white;
}

.checkout-button {
    background: #57CAD5;
}

.cancel-button{
    margin: 0;
    background: #F24F8A;
}

.order-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1rem;
    cursor: pointer;
}

.order-items img {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
}

.order-button img {
    width: 47px;
    height: 56px;
}

.order-button {
    border: transparent;
    background: transparent;
}

.qty-order.order-button, .plus-item, .minus-item {
    color: #82DE3A;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    line-height: 3rem;
    background: white;
    border-left: solid .5px #82DE3A;
    border-right: solid .5px #82de3a;
    width: 4rem;
}

.order-items-middle-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px #82DE3A;
}

.cart-items-wrapper{
    height: 65vh;
    overflow: auto;
}